@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@500&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}


p {
  color: white;
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Kanit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #272727;
  font-family: 'Kanit', sans-serif;
  height: 900px; 
}

.navMenu {
    margin-top: 50px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    font-family: "Montserrat", sans-serif;
}

.navMenu h2 {
    color: white;
    text-align: right;
    font-size: 40px;
}

.heading {
  margin-right: 50px;
  text-align: right;
}

nav ul {
    margin-top: -80px;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 0px 20px;
}
.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
  font-family: 'Kanit', sans-serif;
}


.logo {
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}



.intro {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.intro {
    margin-top: 50px;
}

.text {
  background-color: #f6f4e6;

}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.list {
  background-color: #FBF0DB;
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #333; 
}

.myth {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.big_sector {
  font-size: 30px;
  color: #333;
  padding: 30px;
}

.footer{
  background:#272727;
  padding:30px 0px;
  font-family: 'Kanit', sans-serif;
  text-align:center;
  padding:5%;
}
  
.footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:whitesmoke;
  font-size:0.8em;
}
  
.footer .row a{
  text-decoration:none;
  color:whitesmoke;
  transition:0.5s;
}
  
.footer .row a:hover{
  color:#fddb3a;
}
  
.footer .row ul{
  width:100%;
}

.footer .row ul li{
  display:inline-block;
  margin:0px 30px;
}

.footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:center;
}

.footer .row img{
  margin:0% 1%;
  height: 40px;
  width: 40px;
}


